---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: thanos
      version: 1.17.1
      sourceRef:
        kind: HelmRepository
        name: stevehipwell
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: openebs
      namespace: openebs-system
    - name: minio
      namespace: database
  valuesFrom:
    - targetPath: objstoreConfig.value.config.access_key
      kind: Secret
      name: &minioSecret minio-secret
      valuesKey: MINIO_ROOT_USER
    - targetPath: objstoreConfig.value.config.secret_key
      kind: Secret
      name: *minioSecret
      valuesKey: MINIO_ROOT_PASSWORD
  values:
    objstoreConfig:
      value:
        type: s3
        config:
          endpoint: minio.database.svc.cluster.local:9000
          bucket: thanos
          region: us-west-1
          insecure: true
    additionalEndpoints:
      - dnssrv+_grpc._tcp.kube-prometheus-stack-thanos-discovery.observability.svc.cluster.local
    additionalReplicaLabels: ["__replica__"]
    serviceMonitor:
      enabled: true
    compact:
      enabled: true
      extraArgs:
        - --compact.concurrency=4
        - --delete-delay=30m
        - --retention.resolution-raw=14d
        - --retention.resolution-5m=30d
        - --retention.resolution-1h=60d
      persistence: &persistence
        enabled: true
        storageClass: openebs-hostpath
        size: 10Gi
    query:
      replicas: 1
      extraArgs: ["--alert.query-url=https://thanos.${SECRET_INTERNAL_DOMAIN}"]
      additionalStores: ["thanos.${SECRET_INTERNAL_DOMAIN}:10901"]
    queryFrontend:
      enabled: true
      replicas: 1
      extraEnv: &extraEnv
        - name: THANOS_CACHE_CONFIG
          valueFrom:
            secretKeyRef:
              name: &secret thanos-secret
              key: cache.yaml
      extraArgs: ["--query-range.response-cache-config=$(THANOS_CACHE_CONFIG)"]
      ingress:
        enabled: true
        ingressClassName: internal
        hosts: ["thanos.${SECRET_INTERNAL_DOMAIN}"]
      podAnnotations: &podAnnotations
        configmap.reloader.stakater.com/reload: *secret
    rule:
      enabled: true
      replicas: 1
      extraArgs: ["--web.prefix-header=X-Forwarded-Prefix"]
      alertmanagersConfig:
        value: |-
          alertmanagers:
            - api_version: v2
              static_configs:
                - dnssrv+_http-web._tcp.alertmanager-operated.observability.svc.cluster.local
      rules:
        value: |-
          groups:
            - name: PrometheusWatcher
              rules:
                - alert: PrometheusDown
                  annotations:
                    summary: A Prometheus has disappeared from Prometheus target discovery
                  expr: absent(up{job="kube-prometheus-stack-prometheus"})
                  for: 5m
                  labels:
                    severity: critical
      persistence: *persistence
    storeGateway:
      replicas: 1
      extraEnv: *extraEnv
      extraArgs: ["--index-cache.config=$(THANOS_CACHE_CONFIG)"]
      persistence: *persistence
      podAnnotations: *podAnnotations
