---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app glauth
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
    image:
      repository: docker.io/glauth/glauth
      tag: v2.1.0
    command: ["/app/glauth", "-c", "/config"]
    service:
      main:
        ports:
          http:
            port: 5555
          ldap:
            enabled: true
            port: 389
    podSecurityContext:
      runAsUser: "${SECURITY_CONTEXT_RUN_AS_USER}"
      runAsGroup: "${SECURITY_CONTEXT_RUN_AS_GROUP}"
      fsGroup: "${SECURITY_CONTEXT_FS_GROUP}"
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        type: secret
        name: *app
        items:
          - key: server.toml
            path: server.toml
          - key: groups.toml
            path: groups.toml
          - key: users.toml
            path: users.toml
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    # resources:
    #   requests:
    #     cpu: 5m
    #     memory: 10Mi
    #   limits:
    #     memory: 50Mi
