[Unit]
Description=IPv4 Packet Filtering Framework (modified for homelab)
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/iptables-restore /etc/iptables/homelab.rules
ExecReload=/usr/bin/iptables-restore /etc/iptables/homelab.rules
ExecStop=/usr/lib/systemd/scripts/iptables-flush
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
