# https://github.com/kubernetes-csi/csi-driver-nfs
# Alternative storage options:
# https://github.com/democratic-csi/democratic-csi
# https://kadalu.github.io/
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: csi-driver-nfs
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: csi-driver-nfs
      version: v4.3.0
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    kubeletDir: /var/lib/kubelet
    controller:
      replicas: 1
