---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: babybuddy
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: kyverno
      namespace: kyverno
  values:
    image:
      repository: lscr.io/linuxserver/babybuddy
      tag: latest
    env:
      TZ: "${TIMEZONE}"
      CSRF_TRUSTED_ORIGINS: "https://baby.${PUBLIC_DOMAIN}"
      PUID: "${SECURITY_CONTEXT_RUN_AS_USER}"
      PGID: "${SECURITY_CONTEXT_RUN_AS_GROUP}"
    service:
      main:
        ports:
          http:
            port: 8000
    persistence:
      config:
        enabled: true
        mountPath: /config
        existingClaim: appdata
        subPath: babybuddy
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: baby
        hosts:
          - host: &host "baby.${PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
