; {{ ansible_managed }}
; Source: https://github.com/Chronial/snapraid-runner/blob/master/snapraid-runner.conf.example

[snapraid]
executable = {{ snapraid_executable }}
config = {{ snapraid_config }}
deletethreshold = {{ snapraid_delete_threshold }}
touch = {{ snapraid_touch }}

[logging]
file = {{ snapraid_runner_dir }}/runner.log
maxsize = 5000
{% if snapraid_email_address is defined and snapraid_email_address %}

[email]
sendon = {{ snapraid_email_sendon }}
short = true
subject = [SnapRAID] Status Report
from = {{ snapraid_email_address_from }}
to = {{ snapraid_email_address_to }}

[smtp]
host = {{ snapraid_smtp_host }}
port = {{ snapraid_smtp_port }}
ssl = {{ snapraid_use_ssl }}
user = {{ snapraid_email_address }}
password = {{ snapraid_email_password }}
{% endif %}

[scrub]
enabled = {{ snapraid_run_scrub }}
percentage = {{ snapraid_run_scrub_percent }}
older-than = {{ snapraid_run_scrub_age }}
