#!/bin/bash

# {{ ansible_managed }}

if [ "$EUID" -ne 0 ]; then
  echo "Permission denied: SnapRAID requires root access."
  exit 126
fi
{% if snapraid_healthchecks_url is defined %}

/usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null "{{ snapraid_healthchecks_url }}/start"
{% endif %}

run_as_user() {
  /bin/su {{ ansible_user }} -c "$@"
}

run_as_user "podman pause -a"

/usr/bin/python3 {{ snapraid_runner_dir }}/snapraid-runner.py -c {{ snapraid_runner_dir }}/options.conf &> /dev/null
{% if snapraid_healthchecks_url is defined %}

SNAPRAID_RC=$?
{% endif %}

run_as_user "podman unpause -a"
{% if snapraid_healthchecks_url is defined %}

/usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null "{{ snapraid_healthchecks_url }}/$SNAPRAID_RC"
{% endif %}
