#!/bin/bash

# {{ ansible_managed }}

if [ "$EUID" -ne 0 ]; then
  echo "Permission denied: SnapRAID requires root access."
  exit 126
fi
{% if snapraid_healthchecks_url is defined %}

curl -fsS --retry 3 "{{ snapraid_healthchecks_url }}/start" &> /dev/null
{% endif %}

SERVICES_TO_SHUTDOWN=("traefik" "sonarr" "radarr" "espial" "nzbget" "plex" "miniflux" "miniflux_db")

run_as_user() {
  /bin/su {{ ansible_user }} -c "$@"
}

PAUSE="podman pause ${SERVICES_TO_SHUTDOWN[@]}"
run_as_user "$PAUSE"

/usr/bin/python3 {{ snapraid_runner_dir }}/snapraid-runner.py -c {{ snapraid_runner_dir }}/options.conf
{% if snapraid_healthchecks_url is defined %}

SNAPRAID_RC=$?
{% endif %}

UNPAUSE="podman unpause ${SERVICES_TO_SHUTDOWN[@]}"
run_as_user "$UNPAUSE"
{% if snapraid_healthchecks_url is defined %}

curl -fsS --retry 3 "{{ snapraid_healthchecks_url }}/$SNAPRAID_RC" &> /dev/null
{% endif %}
