#!/bin/bash

# {{ ansible_managed }}

if [ "$EUID" -ne 0 ]; then
  echo "Permission denied: SnapRAID requires root access."
  exit 126
fi
{% if snapraid_healthchecks_url is defined %}

curl -fsS --retry 3 "{{ snapraid_healthchecks_url }}/start" &> /dev/null
{% endif %}

SERVICES_TO_SHUTDOWN=("sonarr" "radarr" "espial" "miniflux" "nzbget" "plex" "miniflux" "miniflux_db")

run_as_user() {
  /bin/su -c "$@" - {{ ansible_user }}
}

run_as_user 'podman pause "${SERVICES_TO_SHUTDOWN[@]}"'

/usr/bin/python3 {{ snapraid_runner_dir }}/snapraid-runner.py -c {{ snapraid_runner_dir }}/snapraid-runner.conf -q
{% if snapraid_healthchecks_url is defined %}

curl -fsS --retry 3 "{{ snapraid_healthchecks_url }}/$?" &> /dev/null
{% endif %}

run_as_user 'podman unpause "${SERVICES_TO_SHUTDOWN[@]}"'
