---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: appdata-home
spec:
  capacity:
    storage: 400G
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  mountOptions:
    - hard
    - timeo=600
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - port=2049
    - rsize=4096
    - wsize=4096
    - noacl
    - nocto
    - noatime
    - nodiratime
  csi:
    driver: nfs.csi.k8s.io
    readOnly: false
    volumeHandle: appdata-nfs-storage-home
    volumeAttributes:
      server: "${NFS_FAST_TANK_CLUSTERIP}"
      share: /appdata

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: appdata
  namespace: home
spec:
  accessModes:
    - ReadWriteMany
  volumeName: appdata-home
  storageClassName: ""
  resources:
    requests:
      storage: 400G
