[Unit]
Description=Podman auto-update service
Documentation=man:podman-auto-update(1)
Wants=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null "{{ podman_auto_update_healthchecks_url }}/start"
ExecStart=/usr/bin/podman auto-update
ExecStartPost=/usr/bin/podman image prune -f
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null "{{ podman_auto_update_healthchecks_url }}"

[Install]
WantedBy=multi-user.target default.target
