# {{ ansible_managed }}
version: "3.8"

services:
  wireguard:
    # https://hub.docker.com/r/linuxserver/wireguard
    image: linuxserver/wireguard
    container_name: wireguard
    restart: unless-stopped
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      # - PUID=1000
      # - PGID=1000
      - TZ=America/Denver
      - PEERS=1
      - SERVERPORT=51820
      - INTERNAL_SUBNET=10.13.13.0
      - ALLOWEDIPS=0.0.0.0/0
      - SERVERURL=${WIREGUARD_SERVERURL}
      - PEERS=${WIREGUARD_PEERS}
    ports:
      # WireGuard server
      - 51820:51820/udp
      {% for ports in forward_ports -%}
      - {{ ports }}
      {% endfor %}

  dyndns:
    # https://hub.docker.com/r/oznu/cloudflare-ddns/
    image: oznu/cloudflare-ddns
    container_name: dyndns
    environment:
      API_KEY: ${CLOUDFLARE_API_KEY}
      ZONE: ${CLOUDFLARE_ZONE}
      SUBDOMAIN: ${CLOUDFLARE_SUBDOMAIN}
      CRON: "@daily"

  watchtower:
    restart: unless-stopped
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      TZ: "${TIMEZONE}"
      DOCKER_HOST: tcp://socket-proxy:2375
      WATCHTOWER_SCHEDULE: 0 0 2 * * *
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_DEBUG: "true"
      WATCHTOWER_INCLUDE_RESTARTING: "true"
      WATCHTOWER_NOTIFICATIONS_LEVEL: error
      WATCHTOWER_NOTIFICATIONS: email
      WATCHTOWER_NOTIFICATION_EMAIL_DELAY: 0
      WATCHTOWER_NOTIFICATION_TITLE_TAG: "Watchtower error"
      WATCHTOWER_NOTIFICATION_EMAIL_FROM: "${SMTP_USER}"
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER: maddy
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: 2525
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER: "${SMTP_USER}"
      WATCHTOWER_NOTIFICATION_EMAIL_TO: "${NOTIFY_EMAIL}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
