# {{ ansible_managed }}
version: "3.8"

services:
  wireguard:
    # https://hub.docker.com/r/linuxserver/wireguard
    image: linuxserver/wireguard
    container_name: wireguard
    restart: unless-stopped
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      # - PUID=1000
      # - PGID=1000
      - TZ=America/Denver
      - PEERS=1
      - SERVERPORT=51820
      - INTERNAL_SUBNET=10.13.13.0
      - ALLOWEDIPS=0.0.0.0/0
      - SERVERURL=${WIREGUARD_SERVERURL}
      - PEERS=${WIREGUARD_PEERS}
    ports:
      # WireGuard server
      - 51820:51820/udp
      {% for ports in forward_ports %}
      - {{ ports }}
      {% endfor %}
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1

  dyndns:
    # https://hub.docker.com/r/oznu/cloudflare-ddns/
    image: oznu/cloudflare-ddns
    container_name: dyndns
    environment:
      - API_KEY=${CLOUDFLARE_API_KEY}
      - ZONE=${CLOUDFLARE_ZONE}
      - SUBDOMAIN=${CLOUDFLARE_SUBDOMAIN}
      - CRON="@daily"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_DEBUG=true
      - WATCHTOWER_SCHEDULE=0 0 2 * * *
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
