---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app lldap
  namespace: auth
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: ingress-nginx
      namespace: networking
  values:
    image:
      # https://hub.docker.com/r/nitnelave/lldap
      repository: docker.io/nitnelave/lldap
      tag: latest
    env:
      TZ: "${TIMEZONE}"
      LLDAP_LDAP_BASE_DN: "dc=home,dc=arpa"
      UID: "${SECURITY_CONTEXT_RUN_AS_USER}"
      GID: "${SECURITY_CONTEXT_RUN_AS_GROUP}"
    envFrom:
      - secretRef:
          name: *app
    service:
      main:
        ports:
          http:
            port: 17170
          ldap:
            enabled: true
            port: 3890
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          forecastle.stakater.com/expose: "true"
          forecastle.stakater.com/icon: folder-key-network-outline
        hosts:
          - host: &host "ldap.${PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: appdata
        mountPath: /data
        subPath: lldap
    # resources:
    #   requests:
    #     cpu: 10m
    #     memory: 100Mi
    #   limits:
    #     memory: 500Mi
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
