# Ansible managed

[Unit]
Description=SnapRAID runner

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/snapraid-runner-env
SyslogIdentifier=snapraid-runner
