---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app landing
  namespace: sites
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: kyverno
      namespace: kyverno
  values:
    image:
      repository: docker.io/library/httpd
      tag: alpine
    env:
      TZ: "${TIMEZONE}"
    service:
      main:
        ports:
          http:
            port: 80
    persistence:
      site:
        enabled: true
        type: configMap
        name: *app
        subPath:
          - path: index.html
            mountPath: /usr/local/apache2/htdocs/index.html
            readOnly: true
          - path: favicon.ico
            mountPath: /usr/local/apache2/htdocs/favicon.ico
            readOnly: true
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns.home.arpa/enabled: "true"
          forecastle.stakater.com/expose: "true"
          forecastle.stakater.com/icon: web
        hosts:
          - host: &host "${PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
