# First, create the repository from the CLI or desktop GUI.
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      kopia:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/kopia/kopia
              tag: 0.17.0@sha256:51784ce0961940846f4f47cab2d4f58e2e0cb467de357f9a80279b149a00c06e
            env:
              TZ: "${TIMEZONE}"
              KOPIA_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: kopia-secret
                    key: KOPIA_PASSWORD
            args:
              - server
              - start
              - --insecure
              - --address
              - 0.0.0.0:80
              - --override-hostname
              - homelab
              - --override-username
              - brett
              - --without-password
              - --metrics-listen-addr
              - 0.0.0.0:8080
              - --config-file
              - /app/config/repository.config
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: kopia
        ports:
          http:
            port: 80
          metrics:
            port: 8080
    serviceMonitor:
      app:
        serviceName: kopia
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      main:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: Kopia
          gethomepage.dev/icon: mdi-backup
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_INTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config-file:
        type: secret
        name: kopia-secret
        globalMounts:
          - path: /app/config/repository.config
            subPath: repository.config
            readOnly: true
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/logs
      backup:
        type: nfs
        server: "${NFS_SERVER_ADDR}"
        path: "${NFS_SERVER_KOPIA_DIR}"
        globalMounts:
          - path: /backup
            readOnly: true
