---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      minio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2024-05-01T01-11-10Z
            env:
              MINIO_API_CORS_ALLOW_ORIGIN: "https://minio.${SECRET_INTERNAL_DOMAIN},https://s3.${SECRET_INTERNAL_DOMAIN}"
              MINIO_BROWSER_REDIRECT_URL: "https://minio.${SECRET_INTERNAL_DOMAIN}"
              MINIO_PROMETHEUS_JOB_ID: minio
              MINIO_PROMETHEUS_URL: "https://prometheus.${SECRET_INTERNAL_DOMAIN}"
              MINIO_PROMETHEUS_AUTH_TYPE: public
              MINIO_SERVER_URL: "https://s3.${SECRET_INTERNAL_DOMAIN}"
              MINIO_UPDATE: "off"
              MINIO_IDENTITY_OPENID_CONFIG_URL: "https://auth.${SECRET_EXTERNAL_DOMAIN}/.well-known/openid-configuration"
              MINIO_IDENTITY_OPENID_DISPLAY_NAME: Authelia
              MINIO_IDENTITY_OPENID_CLIENT_ID: minio
              MINIO_IDENTITY_OPENID_CLAIM_NAME: groups
              MINIO_IDENTITY_OPENID_SCOPES: "openid,profile,email,groups"
              MINIO_IDENTITY_OPENID_REDIRECT_URI: "https://minio.${SECRET_INTERNAL_DOMAIN}/oauth_callback"
            envFrom:
              - secretRef:
                  name: minio-secret
            args: ["server", "/data", "--console-address", ":9001"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: minio
        ports:
          http:
            port: 9001
          s3:
            port: 9000
    serviceMonitor:
      app:
        serviceName: minio
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: Minio
          gethomepage.dev/icon: mdi-pail
        hosts:
          - host: "minio.${SECRET_INTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      s3:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          nginx.ingress.kubernetes.io/proxy-buffering: "off"
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
          nginx.ingress.kubernetes.io/server-snippet: |
            client_max_body_size 200M;
          nginx.ingress.kubernetes.io/configuration-snippet: |
            chunked_transfer_encoding off;
        hosts:
          - host: s3.${SECRET_INTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: s3
    persistence:
      data:
        existingClaim: minio
