---
# {{ ansible_managed }}

http:
  routers:
    adguard2:
      rule: "Host(`adguard2.{{ root_domain }}`)"
      service: adguard2
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      adguard2:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:3003"
