---
# {{ ansible_managed }}

http:
  routers:
    calibre:
      rule: "Host(`calibre.{{ root_domain }}`)"
      service: calibre
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - basic-auth
        - crowdsec

    calibre-content-server:
      rule: "Host(`read.{{ root_domain }}`)"
      service: calibre-content-server
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - basic-auth

  services:
      calibre:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:8084"

      calibre-content-server:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:8085"
