---
# {{ ansible_managed }}

http:
  routers:
    change-detection:
      rule: "Host(`changedetection.{{ root_domain }}`)"
      service: change-detection
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth

  services:
      change-detection:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:3014"
