---
# {{ ansible_managed }}

http:
  routers:
    espial:
      rule: "Host(`bookmarks.{{ root_domain }}`)"
      service: espial
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      espial:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:3006"
