---
# {{ ansible_managed }}

http:
  routers:
    firefly:
      rule: "Host(`budget.{{ root_domain }}`)"
      service: firefly
      tls:
        certResolver: http
      middlewares:
        - secure-headers

  services:
      firefly:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:8087"
