---
# {{ ansible_managed }}

http:
  routers:
    frigate:
      rule: "Host(`video.{{ root_domain }}`)"
      service: frigate
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      frigate:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:3015"
