---
http:
  routers:
    hydra:
      rule: "Host(`hydra.{{ root_domain }}`)"
      service: hydra
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth

  services:
      hydra:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:5076"
