---
http:
  routers:
    hydra:
      rule: "Host(`hydra.{{ root_domain }}`)"
      service: hydra
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth
    hydra-api:
      rule: "Host(`hydra.{{ root_domain }}`) && PathPrefix(`/api`,`/getnzb`,`/gettorrent`,`/rss`,`/torznab/api`)"
      service: hydra
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - crowdsec

  services:
      hydra:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:5076"
