---
# {{ ansible_managed }}

http:
  routers:
    nzbget:
      rule: "Host(`nzbget.{{ root_domain }}`)"
      service: nzbget
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth
    nzbget-api:
      #rule: "Host(`nzbget.{{ root_domain }}`) && PathPrefix(`/{jsonrpc:([^\/:]*:[^\/:]*/)?jsonrpc}`,`/{xmlrpc:([^\/:]*:[^\/:]*/)?xmlrpc}`)"
      rule: "Host(`nzbget.{{ root_domain }}`) && PathPrefix(`/{jsonrpc:([^/:]*:[^/:]*/)?jsonrpc}`,`/{xmlrpc:([^/:]*:[^/:]*/)?xmlrpc}`)"
      service: nzbget
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - crowdsec

  services:
      nzbget:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:6788"
