---
# {{ ansible_managed }}

http:
  routers:
    oauth:
      rule: "Host(`oauth.{{ root_domain }}`)"
      service: oauth
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - oauth

  services:
      oauth:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:4181"
