---
# {{ ansible_managed }}

http:
  routers:
    ombi:
      rule: "Host(`request.{{ root_domain }}`)"
      service: ombi
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      ombi:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:3579"
