---
# {{ ansible_managed }}

http:
  routers:
    plex:
      rule: "Host(`plex.{{ root_domain }}`)"
      service: plex
      tls:
        certResolver: http
      middlewares:
        #- secure-headers

  services:
      plex:
        loadBalancer:
          servers:
            - url: "http://{{ homelab_local_ip }}:32400"
