---
# {{ ansible_managed }}

http:
  routers:
    prometheus:
      rule: "Host(`prometheus.{{ root_domain }}`)"
      service: prometheus
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - basic-auth-prometheus

  services:
      prometheus:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:9091"
