---
# {{ ansible_managed }}

http:
  routers:
    readarr:
      rule: "Host(`readarr.{{ root_domain }}`)"
      service: readarr
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth
    readarr-api:
      rule: "Host(`readarr.{{ root_domain }}`) && PathPrefix(`/api`)"
      service: readarr
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      readarr:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:8787"
