---
# {{ ansible_managed }}

http:
  routers:
    syncthing:
      rule: "Host(`syncthing.{{ root_domain }}`)"
      service: syncthing
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec

  services:
      syncthing:
        loadBalancer:
          servers:
            - url: "http://{{ service_ip }}:8384"
