---
# {{ ansible_managed }}

http:
  routers:
    unifi:
      rule: "Host(`unifi.{{ root_domain }}`)"
      service: unifi
      tls:
        certResolver: http
      middlewares:
        - secure-headers
        - ip-whitelist
        - crowdsec
        - oauth

  services:
    unifi:
      loadBalancer:
        serversTransport: unifiTransport
        servers:
          - url: "https://{{ service_ip }}:3018"

  serversTransports:
    unifiTransport:
      insecureSkipVerify: true
