---
# {{ ansible_managed }}

udp:
  routers:
    valheim:
      entryPoints:
        - valheim1
        - valheim2
        - valheim3
      service: valheim

  services:
    valheim:
      loadBalancer:
        servers:
          - address: "{{ homelab_local_ip }}:2456"
