---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: smb-shared
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      # https://hub.docker.com/r/dperson/samba
      repository: docker.io/dperson/samba
      tag: latest
    env:
      TZ: "${TIMEZONE}"
      # PERMISSIONS: true
      SHARE: shared;/shared;yes;no;yes;;;;
      USERID: "${SECURITY_CONTEXT_RUN_AS_USER}"
      GROUPID: "${SECURITY_CONTEXT_RUN_AS_GROUP}"
    service:
      main:
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: "${METALLB_SMB_SHARED_ADDR}"
        ports:
          http:
            port: 139
          smb:
            enabled: true
            port: 445
    persistence:
      data:
        enabled: true
        mountPath: /shared
        type: hostPath
        hostPath: "${SMB_SHARED_DIR}"
    nodeSelector:
      kubernetes.io/hostname: "${TANK_STORAGE_HOSTNAME}"
