# https://github.com/kubernetes/node-problem-detector
# https://github.com/onedr0p/home-ops/blob/main/archive/node-problem-detector/helm-release.yaml
# https://github.com/toboshii/home-ops/blob/main/cluster/apps/monitoring/node-problem-detector/helm-release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: node-problem-detector
      version: 2.3.4
      sourceRef:
        kind: HelmRepository
        name: deliveryhero
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
