# https://github.com/kubernetes/node-problem-detector
# https://github.com/onedr0p/home-ops/blob/main/archive/node-problem-detector/helm-release.yaml
# https://github.com/toboshii/home-ops/blob/main/cluster/apps/monitoring/node-problem-detector/helm-release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: node-problem-detector
      version: 2.3.13
      sourceRef:
        kind: HelmRepository
        name: deliveryhero
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
