---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app prometheus-pushgateway
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: prometheus-pushgateway
      version: 1.21.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/pushgateway
    serviceMonitor:
      enabled: true
